<h3 class="card-header" style="font-weight: bolder;"> ඔබට අවශ්‍ය නොතාරිස් සේවාව තොරන්න / Select the notary service</h3>

<div class="card-body">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="basicInfoForm" (ngSubmit)="onSubmitBasicInfoForm()">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <label for="">Select First Category:</label>
                        <select name="" id="" class="form-control" #mainCategory (change)="onChangeMainCategory(mainCategory.value)" formControlName="mainCategory">
                            <option value="">-- Select Option --</option>
                            <option value="{{ eachCategory.id }}" *ngFor="let eachCategory of this.mainNotaryCategoryList">{{ eachCategory.categoryName }}</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <label for="">Select Sub Category:</label>
                        <select id="" class="form-control" formControlName="subCategory">
                            <option value="">-- Select Option --</option>
                            <option value="{{ eachCategory.id }}" *ngFor="let eachCategory of this.subCategoryList">{{ eachCategory.subCategoryName }}</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <label for="">Description of the required service</label>
                        <textarea name="" id="" cols="30" rows="10" class="form-control" formControlName="description"></textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <button class="btn btn-primary btn-sm" type="submit">Next Step</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>