<h5 class="card-header" style="font-weight: bolder;">Company Sectratial Service</h5>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="card-body">
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" *ngFor="let eachService of this.serviceList; index as i">
      <div class="card">
        <div class="card-header">{{ eachService.name }}</div>
        <div class="card-body">
          <p class="card-text">
            {{ eachService.descriptiom }}
          </p>
          <div class="form-group row">
            <div class="col-8 pt-1">
              <!-- <a href="#" ></a> -->
              <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal"
              (click)="onClickOpenFormModal(i + 1)" >Submit Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Company Service</h5>
        <a href="#" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </a>
      </div>
      <div class="modal-body">
        <div class="card">
            <form [formGroup]="this.firstServiceForm" *ngIf="this.firstServiceFormModelOpen" (ngSubmit)="submitFirstServiceForm()">
                <div class="row">
                    <div class="col-12">
                        <label for="">යෝජිත සමාගමේ නම / Name of the proposed company</label>
                        <input type="text" class="form-control" formControlName="companyName">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂක වරුන්ගේ නම් / Names of Directors</label>
                        <input type="text" class="form-control" formControlName="directorNames">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂකවරුන්ගේ ලිපිනයන් / Addresses of Directors</label>
                        <input type="text" class="form-control" formControlName="directorAddress">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂකවරුන්ගේ දුරකථන අංක / Telephone numbers of Directors</label>
                        <input type="text" class="form-control" formControlName="directorTelephones">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂකවරුන්ගේ විද්‍යුත් ලිපිනයන් / E-mail addresses of Directors</label>
                        <input type="text" class="form-control" formControlName="directorEmails">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂක වරුන් පදිංචි ග්‍රාම නිළධාරී වසම සහ අංකය / Village Officer Division and Number of Resident of Directors</label>
                        <input type="text" class="form-control" formControlName="devisionNumber">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂකවරු අයත්වන ප්‍රාදේශීය ලේකම් කොට්ඨාශය / The Divisional Secretariat to which the Directors belong</label>
                        <input type="text" class="form-control" formControlName="devisionalSectrial">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂකවරු අයත්වන දිස්ත්‍රික්කය / District to which the Directors belong</label>
                        <input type="text" class="form-control" formControlName="directorDistrict">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂක වරුන්ගේ ජාතික හැදුනුම්පත් සහ අත්සන්  ඉදිරිපත් කරන්න / Submit the National Identity Cards and Signatures of the Directors</label>
                        <input type="text" class="form-control" formControlName="nicNumberOfDirectors">
                    </div>
                    <div class="col-12">
                        <label for="">හැදුණුම්පත් පිටපත් උඩුගත කරන්න / Upload ID copies</label>
                        <input type="file" class="form-control" multiple (change)="onChangeNICImages($event, 1)">
                    </div>
                    <div class="col-12">
                        <label for="">ලේඛණ උඩුගත කරන්න / Upload documents</label>
                        <input type="file" class="form-control" multiple (change)="onChangeRequiredFiles($event, 1)">
                    </div>
                    <div class="col-12 mt-2">
                        <button class="btn btn-primary btn-sm" type="submit">Place Order</button>
                    </div>
                </div>
            </form>

            <form [formGroup]="secondServiceForm" *ngIf="this.secondServiceFormModalOpen" (ngSubmit)="submitSecondServiceForm()">
                <div class="row">
                    <div class="col-12">
                        <label for=""> සමාගමේ නම / Name of company</label>
                        <input type="text" class="form-control" formControlName="companyName">
                    </div>
                    <div class="col-12">
                        <label for=""> සමාගමේ ලියාපදිංචි අංකය / Company registration number</label>
                        <input type="text" class="form-control" formControlName="regNumber">
                    </div>
                    <div class="col-12">
                        <label for=""> සංශෝධනය වියයුතු කරුණු / Change is to be made</label>
                        <textarea name="" class="form-control" id="" cols="30" rows="10" formControlName="description"></textarea>
                    </div>
                    <div class="col-12">
                        <label for=""> ලේඛණ උඩුගත කරන්න / Upload documents</label>
                        <input type="file" class="form-control" (change)="onChangeRequiredFiles($event, 2)">
                    </div>
                    <div class="col-12 mt-3">
                        <button class="btn btn-primary btn-sm" type="submit">Place Order</button>
                    </div>
                </div>
            </form>

            <form [formGroup]="thirdServiceForm" *ngIf="this.thirdServiceFormModalOpen" (ngSubmit)="submitThirdServiceForm()">
                <div class="row">
                    <div class="col-12">
                        <label for="">සමාගමේ නම / Name of company</label>
                        <input type="text" class="form-control" formControlName="companyName">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂක වරුන්ගේ නම් / Names of Directors</label>
                        <input type="text" class="form-control" formControlName="directorNames">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂකවරුන්ගේ ලිපිනයන් / Addresses of Directors</label>
                        <input type="text" class="form-control" formControlName="directorAddress">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂකවරුන්ගේ දුරකථන අංක / Telephone numbers of Directors</label>
                        <input type="text" class="form-control" formControlName="directorTelephones">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂකවරුන්ගේ විද්‍යුත් ලිපිනයන් / E-mail addresses of Directors</label>
                        <input type="text" class="form-control" formControlName="directorEmails">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂක වරුන් පදිංචි ග්‍රාම නිළධාරී වසම සහ අංකය / Village Officer Division and Number of Resident of Directors</label>
                        <input type="text" class="form-control" formControlName="devisionNumber">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂකවරු අයත්වන ප්‍රාදේශීය ලේකම් කොට්ඨාශය / The Divisional Secretariat to which the Directors belong</label>
                        <input type="text" class="form-control" formControlName="devisionalSectrial">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂකවරු අයත්වන දිස්ත්‍රික්කය / District to which the Directors belong</label>
                        <input type="text" class="form-control" formControlName="directorDistrict">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂක වරුන්ගේ ජාතික හැදුනුම්පත් සහ අත්සන් ඉදිරිපත් කරන්න / Submit the National Identity Cards and Signatures of the Directors</label>
                        <input type="text" class="form-control" formControlName="nicNumberOfDirectors">
                    </div>
                    <div class="col-12">
                        <label for="">පත්වන දිනය / Date of Appointment</label>
                        <input type="text" class="form-control" formControlName="dateOfAppointment">
                    </div>
                    <div class="col-12">
                        <label for="">කැමැත්ත ප්‍රකාශ කිරීමේ  ලිපිය උඩුගත කරන්න / Upload the Letter of Intent
                            </label>
                        <input type="file" class="form-control" (change)="setIntentLetterForThirdService($event)">
                    </div>
                    <div class="col-12">
                        <label for="">ලේඛණ උඩුගත කරන්න / Upload documents</label>
                        <input type="file" class="form-control" multiple (change)="onChangeRequiredFiles($event, 3)">
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary btn-sm" type="submit">Place Order</button>
                    </div>
                </div>
            </form>

            <form [formGroup]="fourthServiceForm" *ngIf="this.forthServiceFormModalOpen" (ngSubmit)="submitForthServiceForm()">
                <div class="row">
                    <div class="col-12">
                        <label for="">සමාගමේ නම / Name of company</label>
                        <input type="text" class="form-control" formControlName="companyName">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂක වරුන්ගේ නම් / Names of Directors</label>
                        <input type="text" class="form-control" formControlName="directorNames">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂකවරුන්ගේ ලිපිනයන් / Addresses of Directors</label>
                        <input type="text" class="form-control" formControlName="directorAddress">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂකවරුන්ගේ දුරකථන අංක / Telephone numbers of Directors</label>
                        <input type="text" class="form-control" formControlName="directorTelephones">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂකවරුන්ගේ විද්‍යුත් ලිපිනයන් / E-mail addresses of Directors</label>
                        <input type="text" class="form-control" formControlName="directorEmails">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂක වරුන් පදිංචි ග්‍රාම නිළධාරී වසම සහ අංකය / Village Officer Division and Number of Resident of Directors</label>
                        <input type="text" class="form-control" formControlName="devisionNumber">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂකවරු අයත්වන ප්‍රාදේශීය ලේකම් කොට්ඨාශය / The Divisional Secretariat to which the Directors belong</label>
                        <input type="text" class="form-control" formControlName="devisionalSectrial">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂකවරු අයත්වන දිස්ත්‍රික්කය / District to which the Directors belong</label>
                        <input type="text" class="form-control" formControlName="directorDistrict">
                    </div>
                    <div class="col-12">
                        <label for="">අධ්‍යක්ෂක වරුන්ගේ ජාතික හැදුනුම්පත් සහ අත්සන් ඉදිරිපත් කරන්න / Submit the National Identity Cards and Signatures of the Directors</label>
                        <input type="text" class="form-control" formControlName="nicNumberOfDirectors">
                    </div>
                    <div class="col-12">
                        <label for="">ඉල්ලා අස්වන දිනය / Date of Resignation</label>
                        <input type="text" class="form-control" formControlName="dateOfResign">
                    </div>
                    <div class="col-12">
                        <label for="">ඉල්ලා අස්වීමේ ලිපිය උඩුගත කරන්න / Upload the resignation letter                            
                            </label>
                        <input type="file" class="form-control" (change)="setResignLetter($event)">
                    </div>
                    <div class="col-12">
                        <label for="">ලේඛණ උඩුගත කරන්න / Upload documents</label>
                        <input type="file" class="form-control" multiple (change)="onChangeRequiredFiles($event, 4)">
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary btn-sm" type="submit">Place Order</button>
                    </div>
                </div>
            </form>

            <form [formGroup]="fifthServiceForm" *ngIf="this.fifthServiceFormModalOpen" (ngSubmit)="submitFifthServiceForm()">
                <div class="row">
                    <div class="col-12">
                        <label for=""> සමාගමේ නම / Name of company</label>
                        <input type="text" class="form-control" formControlName="companyName">
                    </div>
                    <div class="col-12">
                        <label for=""> සමාගමේ ලියාපදිංචි අංකය / Company registration number</label>
                        <input type="text" class="form-control" formControlName="regNumber">
                    </div>
                    <div class="col-12">
                        <label for=""> ඉල්ලා සිටින පිටපත්වල විස්තරය / Description of transcripts requested</label>
                        <textarea name="" class="form-control" id="" cols="30" rows="10" formControlName="description"></textarea>
                    </div>
                    <div class="col-12">
                        <label for=""> ලේඛණ උඩුගත කරන්න / Upload documents</label>
                        <input type="file" class="form-control" (change)="onChangeRequiredFiles($event, 5)">
                    </div>
                    <div class="col-12 mt-3">
                        <button class="btn btn-primary btn-sm" type="submit">Place Order</button>
                    </div>
                </div>
            </form>

            <form [formGroup]="sixthServiceForm" *ngIf="this.sixthServiceFormModalOpen" (ngSubmit)="submitSixthServiceForm()">
                <div class="row">
                    <div class="col-12">
                        <label for=""> සමාගමේ නම / Name of company</label>
                        <input type="text" class="form-control" formControlName="companyName">
                    </div>
                    <div class="col-12">
                        <label for="">සමාගමේ ලියාපදිංචි අංකය / Company registration number</label>
                        <input type="text" class="form-control" formControlName="regNumber">
                    </div>
                    <div class="col-12">
                        <label for="">අවශ්‍ය සේවාවේ විස්තරය / Description of service required</label>
                        <textarea name="" class="form-control" id="" cols="30" rows="10" formControlName="description"></textarea>
                    </div>
                    <div class="col-12">
                        <label for="">ලේඛණ උඩුගත කරන්න / Upload documents</label>
                        <input type="file" class="form-control" (change)="onChangeRequiredFiles($event, 6)">
                    </div>
                    <div class="col-12 mt-3">
                        <button class="btn btn-primary btn-sm" type="submit">Place Order</button>
                    </div>
                </div>
            </form>

            <form [formGroup]="sevenServiceForm" *ngIf="this.sevenServiceFormModalOpen" (ngSubmit)="submitSeventhServiceForm()">
                <div class="row">
                    <div class="col-12">
                        <label for=""> සමාගමේ නම / Name of company</label>
                        <input type="text" class="form-control" formControlName="companyName">
                    </div>
                    <div class="col-12">
                        <label for="">සමාගමේ ලියාපදිංචි අංකය / Company registration number</label>
                        <input type="text" class="form-control" formControlName="regNumber">
                    </div>
                    <div class="col-12">
                        <label for="">ගාස්තු ගෙවන සේවාවේ විස්තරය / Description of Paid Service</label>
                        <textarea name="" class="form-control" id="" cols="30" rows="10" formControlName="Description"></textarea>
                    </div>
                    <div class="col-12">
                        <label for=""> ලේඛණ උඩුගත කරන්න / Upload documents</label>
                        <input type="file" class="form-control" (change)="onChangeRequiredFiles($event, 7)">
                    </div>
                    <div class="col-12 mt-3">
                        <button class="btn btn-primary btn-sm" type="submit">Place Order</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="statusSuccessModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"> 
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document"> 
      <div class="modal-content"> 
        <div class="modal-body text-center p-lg-4"> 
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
            <circle class="path circle" fill="none" stroke="#198754" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
            <polyline class="path check" fill="none" stroke="#198754" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " /> 
          </svg> 
          <h4 class="text-success mt-3">Oh Yeah!</h4> 
          <p class="mt-3">You have successfully Place Order.</p>
          <button type="button" class="btn btn-lg mt-3 btn-success" data-bs-dismiss="modal" (click)="redirectToAnotherForm()">View My Order</button> 
        </div> 
      </div> 
    </div> 
  </div>